body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/**
 * Nav
 */
.nav-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.nav-item {
	float: left;
	display: block;
	padding: 8px;
}

/**
 * Questions List
 */
.questions-list {
  width: 90%;
  margin: 1em auto 1em auto;
}

/**
 * Question Card
 */
.question-card {
	margin: .5em;
}
.question-card-title {
	margin: 0;
}
.block-container {
  display: inline-flex;
  width: 100%;
}
.question-card-block {
	margin: 0;
	display: inline-block;
	width: 50%;
}
.button-container {
	text-align: center;
}
.pole-button {
  width: 10em;
  padding: .5em;
  margin: .5em;
}

/* ********* For testing ********* */
.container-qlist {
	border: 1px solid green;
}

.container-nav {
	border: 1px solid red;
}

.container-element {
	border: 1px solid blue;
}