body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 15px;
}

/**
 * Nav
 */
.nav-items {
  list-style-type: none;
  margin: .25em;
  padding: 0;
}
.nav-item {
  display: inline-block;
  padding-right: 1em;
}
.nav-items-right {
	float: right;
}
a.nav-item {
  text-decoration: none;
  color: inherit;
}

/**
 * Dropdown Menu
 */
.drop-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.dropdown--active {
  background-color: #a9deb2;
  position: absolute;
  right: 5px;
}
.dropdown__content {
  border: 1px solid green;
}
.drop-item {
  width: -webkit-fill-available;
  height: 100%;
  padding: 5px;
}
/**
 * Questions List
 */
.questions-list {
  width: 90%;
  margin: 1em auto 1em auto;
  padding: auto;
}
.tab-list {
  margin: 0;
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  width: -webkit-fill-available;
}
.tab {
  width: 50%;
  text-align: center;
  padding: .25em;
  font-size: 15px;
}

/**
 * Question/Prev/New
 */
.question-card {
  margin: .5em;
}
.question-card-title {
	margin: 0;
}
.block-container {
  display: inline-flex;
  width: 100%;
}
.question-card-block {
	margin: auto;
  margin-top: .5em;
	width: 95%;
}
.question-title {
	margin: 1em 0;
}
.question-select {
	display: grid;
}
.question-option-label {
  padding: .5em;
}
.button-container {
	text-align: center;
}
.pole-button {
  width: 10em;
  padding: .5em;
  margin: .5em;
}
.question-container {
  width: 90%;
  margin: 1em auto 1em auto;
  padding: auto;
}
.question-input-label {
  display: inline-grid;
  padding-bottom: 1em;
}
.question-input {
  border: 1px solid;
}
.submit-question-button {
  width: 10em;
  padding: .5em;
  margin: .5em;
}

/**
 * Question Stat
 */
.question-card-container {
  width: 90%;
  margin: 1em auto 1em auto;
  padding: auto;
}
.question-option-stat-label {
  padding: .5em;
  display: table-cell;
}
.option-one {
  background-color: #0088fd;
  height: 3em;
  display: table;
  vertical-align: middle;
}
.option-two {
  background-color: #01c49f;
  height: 3em;
  display: table;
  vertical-align: middle;
}
.recharts-wrapper {
  margin: auto;
}
.vote-icon:parent {
  border: solid red;
}
.vote-icon {
  float: right;
  background: #ffc800;
  padding: .25em;
  border-radius: 50%;
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
}
.vote-text {
  padding: 0;
  margin: 0;
}
.results-block {
  margin: 0 auto .5em auto;
  margin-top: .5em;
  width: 95%;
}

/**
 * SignIn Page
 */
.signin-container {
	width: 90%;
	margin: 1em auto 1em auto;
}
.signin-header {
	text-align: center;
}
.title {
	margin: 0;
}
.subtitle {
	margin: 0;
	padding: .5em;
}
.signin-image-container {

}
.signin-image {

}
.signin-select-container {
	text-align: center;
}
.signin-label {
  display: block;
  padding: 1em;
  font-size: 20px;
}
.signin-select {
  width: 90%;
  background: #d8cece;
}
.signin-button {
  width: 90%;
  margin: 1em;
}







/* ********* For testing ********* */
.container-qlist {
	border: 1px solid green;
}

.container-nav {
	border: 1px solid red;
}

.container-signIn {
	border: 1px solid orange;
}

.container-element-con {
	border: 1px solid green;
}

.container-element {
	border: 1px solid blue;
}

